@model IEnumerable<NoEF.Models.Currency>

<div>
    <h4>Currency</h4>
    <hr />
    <p>
        @Html.ActionLink("Add New Currency", "AddCurrency", new { area = "", controller = "Currency" })
    </p>
    <table class="table">
      <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
      </tr>

      @foreach (var item in Model)
      {
        @Html.HiddenFor(model => item.Id)
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCurrency", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteCurrency", new { id = item.Id }, new { onclick = "return confirm('Are sure wants to delete?');" })
            </td>
        </tr>
      }
    </table>

    <p>
        @Html.ActionLink("To Account List", "GetAccounts", new { area = "", controller = "Account" })
    </p>
</div>